# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Version
.python-version

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Backend
backend/.pytest_cache/

# Terraform
*.tfstate
*.tfstate.*

# Coverage
.coverage
htmlcov/

# Misc
.cache/

# Tests
backend/tests
backend/app/chunking/test.py

# Storage
storage/